.component-image {
	display: grid;
	grid-template-columns: 1fr;
	width: 96px;
	height: 96px;
	border: 1px solid #fff;
	background: url("../images/component_1.png");
	margin-bottom: 30px;
}

.active {
	box-shadow: 1px 1px 50px 0px #e7e6e6;
}