.main-card {
	display: grid;
	grid-template-columns: 3fr 3px 2fr 3px 1fr;
	grid-template-rows: 1fr;
	height: calc(100vh - 30px - 30px - 30px - 40px - 2px);
	margin: 40px 40px 40px 0;
	border: 1px solid #334562;
	border-radius: 10px;
	/* gap: 20px; */
}

.main-card-left-side {
	display: grid;
	grid-template-columns: 96px 1fr;
	grid-template-rows: 180px 300px 1fr;
	justify-items: left;
	column-gap: 30px;
	grid-template-rows: 210px 310px;
	min-width: 650px;
	margin: 30px 0 0 30px;
	overflow-y: auto;
}

.main-card-left-side::-webkit-scrollbar {
	width: 5px;
}

.main-card-left-side::-webkit-scrollbar-thumb {
	background-color: #334562;
	border-radius: 5px;
}

.main-card-middle-side {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 2fr 1fr;
	min-width: 350px;
	// height: 100%;
	margin: 30px 0 0 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-card-middle-side::-webkit-scrollbar {
	width: 5px;
}

.main-card-middle-side::-webkit-scrollbar-thumb {
	background-color: #334562;
	border-radius: 5px;
}



.main-card-right-side {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 620px;
	min-width: 340px;
	align-items: start;
	// height: 100%;
	margin: 30px 0 0 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-card-right-side::-webkit-scrollbar {
	width: 5px;
}

.main-card-right-side::-webkit-scrollbar-thumb {
	background-color: #334562;
	border-radius: 5px;
}