.required-components {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 3px 1fr 3px 1fr 3px;
	grid-column: 2;
	row-gap: 10px;
	width: 100%;
}

.required-components-title {
	display: grid;
	grid-template-rows: 30px;
	text-align: center;
	justify-self: left;
	margin-left: 20px;
}



