.production-requirements-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 45px repeat(4, 40px) 50px;
	width: 500px;
	justify-items: center;
	align-items: center;
}

.resourses-img_1 {
	background: url("../images/res_1.png");
}

.resourses-img_2 {
	background: url("../images/res_2.png");
}

.resourses-img_3 {
	background: url("../images/res_3.png");
}

.resourses-img_4 {
	background: url("../images/res_4.png");
}

.resourses-img_5 {
	background: url("../images/res_5.png");
}

.resourses-img_6 {
	background: url("../images/res_6.png");
}

.resourses-img_7 {
	background: url("../images/res_7.png");
}

.resourses-img_1,
.resourses-img_2,
.resourses-img_3,
.resourses-img_4,
.resourses-img_5,
.resourses-img_6,
.resourses-img_7 {
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: cover;
}

.value-white {
	color: #fff;
}

.value-orange {
	color: #ff9900;
}

.total-resourses-cost {
	display: grid;
	grid-column: 1/4;
	justify-self: left;
	margin-left: 20px;
}


.item-required-resources-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 20px) 25px;
	row-gap: 5px;
	width: 70%;
	justify-items: center;
	align-items: center;
	margin-left: 105px;
}

.small {
	width: 20px;
	height: 20px;
}