.resourses-available {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25px 1fr 1fr 3px;
	height: 100%;
	margin-right: 10px;
}

.resourses-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 25px repeat(7, 40px);
	row-gap: 5px;
	column-gap: 5px;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
	margin-right: 80px;
}

.input {
	display: grid;
	background: #334562;
	width: 120px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	border: none;
	outline:none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.input::placeholder{
	font-size: 16px;
}

.components-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 40px);
	row-gap: 5px;
	column-gap: 5px;
	justify-items: center;
	align-items: center;
	margin-right: 80px;
}